html, body {
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.ui-loader{
  display: none;
}

#site{
  
  &.right{
    cursor: url(/img/arrow-right.png), auto;
    -webkit-cursor: url(/img/arrow-right.png), auto;
  }

  &.left{
    cursor: url(/img/arrow-left.png), auto;
    -webkit-cursor: url(/img/arrow-left.png), auto;
  }

  overflow: hidden;
  
  a:link,
  a:visited{
    color: #fff;
    text-decoration: none;
  }

  font-family: 'HelveticaNeue';
  background-color: #000;
  color: #fff;
  text-align: center;
  
  #background_container{
    position: fixed;
    top: 4vh;
    bottom: 4vh;
    width: 100%;

    &.over{
      z-index: 40;
    }
  }

 .background_img{
  display: block;
  position: fixed;
  top: 4vh;
  bottom: 4vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
  img{
    max-height: 100%;
    width: auto;
    display: inline-block;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    -webkit-transition: transform ease 0.7s;
            transition: transform ease 0.7s;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;

  }
  &.show{
    z-index: -30;
    img{
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
 }

  .background_detect{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 4vh;
    height: 92vh;
    z-index: 1000;

    &:hover{
      cursor:pointer;
    }

    /*&:hover + .over{
      display: none;
    }*/
  }
  .background_detect2{
    display: none;
  }

  h1{
    width: auto;
  }

 .over{
  font-family: 'HelveticaNeue';
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  z-index: 1;
  /*font-size: 3.3rem;*/
  /*font-size: 5.5vw;*/
  line-height: 1.25em;
  transform: translateY(-49%);
  -webkit-transform: translateY(-49%);
  
  &.over.hide{
    display: none;
  }



  &.under{
    z-index: -1;
  }

  /*mailchimp styling*/

  ::-webkit-input-placeholder { 
    color: #fff;
  }
  ::-moz-placeholder {
    color: #fff;
  }
  :-ms-input-placeholder {
    color: #fff;
  }
  :-moz-placeholder {
    color: #fff;
  }

  input[type="email"]{
    font-family: 'HelveticaNeue';
    font-size: inherit;
    padding-top: 0.2rem;
    margin-bottom: 0.2rem;
    width: 7rem;
    text-align: center;
    border: 2px solid white;
  }

  input:focus { 
    border: 2px solid white;
    outline: none;
  }

  input, select, textarea{
    color: #fff;
  }

  #mce-EMAIL{
    background-color: transparent;
    box-shadow: none;
  }

  #mc-embedded-subscribe{
    display: none;
  }
 } 
}

@media (max-width: 600px) {
  #site{
    .background_img{
      /*height: 79vh;*/
    }

    /*.background_detect{
      display: none;
    }*/
    .background_detect2{
      display: block;
      position: fixed;
      top: 0;
      height: 50vh;
      width: 100%;
      z-index: 500;
    }

    input[type="email"]{
      z-index: 1000;
    }
  }
  
}